header{
    position: sticky;
    top: 0;
    height: 100px;
    background-color:black;
    display: flex;
}

#title{
    color:aliceblue;
    position:absolute;
    font-family: OCR A Std, monospace;
    font-size: xx-large;
    top: 50%;
    transform: translateY(-50%); 
    margin:0;
    padding-left: 50px;
}

#search{
    margin: 0;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%); 
    
}