
body{
    margin: 0;
    padding: 0;
    color:black;
}

.img{
    width: auto;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 2px;
}

#para{
    margin:auto;
    width:fit-content;
}
#wrap{
    display: none;
    border-radius: 10px;
}
#searchresult {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll; /* Activer le défilement vertical */
    width: 750px;
    height: 100px; /* Hauteur de la zone de recherche */
    border-radius: 10px;
    box-shadow: #7d7777 10px 5px 5px 2px;
    margin-bottom:10px;
  
  }


#maincontainer {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
}

#button {
    position: absolute;
    top: 20px; /* Ajustez selon vos besoins */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#000000;
}



#postbox {
    position: absolute;
    top: calc(50% + 100px); /* Ajustez la marge en fonction de la hauteur des boutons */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 750px;
    height: 100%;
   
}

.post {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: #7d7777 10px 5px 5px 2px;
    /* margin: 5px; */
}


.author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.content{
    width: 100%; /* Largeur maximale de la boîte */
    word-wrap: break-word; 
  }
.author-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.author{
    font-weight: bold;
    margin-right: 10px;

}

.show {
    display: block !important;
}

.picture {
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
    border-radius: 50%; /* Rend le conteneur rond */
}

.btn-action{
    position: absolute;
    top:10px;
    right:3px;
}

.like-dislike{
    width: 50px;
}

#feed{
    width: fit-content;
    height: fit-content;

}
#table{

    width: 100px;
    overflow: hidden;
    height: 100px;
    overflow-y: scroll; /* Activer le défilement vertical */

}

.content-blur{
    filter: blur(15px);
}

.btn_see{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    z-index: 1;
}

.info_btn{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

.post_admin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#ece4db;
    border-radius: 10px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: #7d7777 10px 5px 5px 2px;

}

.close_cross{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1; 
}
.check{
    position:absolute;
    top: 5px;
    right: 50px;
    z-index: 1; 
}
.notif{
    position:relative;
    height: fit-content;
    border-radius: 10px;
    padding-bottom: 1px;
  }
.notif_viewed{
    height: fit-content;
    position:relative;
    background-color: #ced4da;
    border-radius: 10px;
    padding-bottom: 1px;
}

.hour{
    position: absolute;
    top:25px;
    left: 5px;
    z-index: 1;
    font-size:x-small;
    opacity: 0.5;
}

.commentIcon{
    position :absolute;
    bottom: 3px;
    left: 10px;
}

.createdAt{
    position: absolute;
    bottom: 7px;
    right: 10px;
    margin-bottom: 0px;
    font-size: small;
    opacity: 0.5;
}

.goTo{
    position: absolute;
    bottom: 3px;
    left: 50px;
    z-index: 1;
}

.contentNotifComment {
    font-weight: bold;
    font-size: small;
    opacity: 0.5;
}