body{
    background-color: #15172b;
    color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;

}
.img{
  width: auto;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
}
.profile_picture {
    width: 100px; /* Largeur souhaitée */
    height: 100px; /* Hauteur souhaitée */
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
    border-radius: 50%; /* Rend le conteneur rond */
  }
  
  .profile_picture img {
    width: 100%; /* Utilise toute la largeur du conteneur */
    height: 100%; /* Hauteur automatique pour conserver le ratio d'aspect */
    display: block; /* Assure que l'image est un bloc */
  }

  .post{
    padding-top: 1em; /* Ajustez cette valeur en fonction de vos besoins */

    border: solid 3px #c5c4c4;

    border-radius: 10px;
    background-color: #15172b;
    box-shadow: 0 0 10px #000;
    margin: 10px;
    padding: 10px;
    /* width: 300px; */
    /* height : 50px */
  }

  #user_info{
    width: fit-content;
  }

