body{
    background-color: #15172b;
}
.info{
  color:aliceblue
}
.img{
  width: auto;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.profile_picture {
    width: 100px; /* Largeur souhaitée */
    height: 100px; /* Hauteur souhaitée */
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
    border-radius: 50%; /* Rend le conteneur rond */
  }
  
  .profile_picture img {
    width: 100%; /* Utilise toute la largeur du conteneur */
    height: 100%; /* Hauteur automatique pour conserver le ratio d'aspect */
    display: block; /* Assure que l'image est un bloc */
  }

  .profile_picture_followers{
    width: 48px; /* Largeur souhaitée */
    height: 48px; /* Hauteur souhaitée */
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
    border-radius: 50%; 
  }

  #postbox {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 750px;
    height: 100%;
   
}

.post {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: #7d7777 10px 5px 5px 2px;

    /* margin: 5px; */
}
.author-info {
    display: flex;
    align-items: center; /* Pour aligner verticalement */
}
.author{
    font-weight: bold;
    margin-right: 10px;

}
  #user_info{
    width: fit-content;
  }

  #user_info p{
    color:black;
  }


  .picture {
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
    border-radius: 50%; /* Rend le conteneur rond */
   
  }
.content{
  width: 600px; /* Largeur maximale de la boîte */
  word-wrap: break-word; 

}

#creation_post{
  position :relative;
  width: 100% ;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: #7d7777 10px 5px 5px 2px;
}

#content{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  resize: none;
}

#create{
  position: relative;
  text-align: center;

}
#post_img_form{
  margin-top: 10px;
}

#submit{
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#wrap{
  display: none;
  border-radius: 10px;
}
#searchresult {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll; /* Activer le défilement vertical */
  width: 750px;
  height: 100px; /* Hauteur de la zone de recherche */
  border-radius: 10px;
  box-shadow: #7d7777 10px 5px 5px 2px;
  margin-bottom:10px;

}



.btn-action{
  position: absolute;
  top: 10px;
  right: 3px;
 
  width: fit-content;
}
.content-blur{
  filter: blur(15px);
}
.btn_see{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.info_btn{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.post_admin{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#ece4db;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: #7d7777 10px 5px 5px 2px;
  border-radius: 10px;

}

.close_cross{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1; 
}
.check{
  position:absolute;
  top: 5px;
  right: 50px;
  z-index: 1; 
}
.notif{
  position:relative;
  height: fit-content;
  border-radius: 10px;
  padding-bottom: 1px;
}
.notif_viewed{
  position:relative;
  background-color: #ced4da;
  height: fit-content;
  border-radius: 10px;
  padding-bottom: 1px;
}

.hour{
  position: absolute;
  top:25px;
  left: 5px;
  z-index: 1;
  font-size:x-small;
  opacity: 0.5;
}
.user_presentation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 10px;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.follow-unfollow{
  display:flex;
  justify-content: center;
  align-items: center;
}
.followers_pres{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;

}
.icon_followers{
  position:relative;
  margin-right:10px;
  margin-left:10px;
}
.badge_follower{
  position: absolute;
  left: 30px;
  top: -5px;
}

.comment{
  position :absolute;
  bottom: 5px;
  left: 10px;
}
.commentIcon{
  position :absolute;
  bottom: 3px;
  left: 10px;
}

.createdAt{
  position: absolute;
  bottom: 7px;
  right: 10px;
  margin-bottom: 0px;
  font-size: small;
  opacity: 0.5;
}
.goTo{
  position: absolute;
  bottom: 3px;
  left: 50px;
  z-index: 1;
}



.nopost p {
  position: relative;
  margin-top: 30px;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-60%);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  font-weight: bold;
  font-size: 20px;
}

.contentNotifComment {
  font-weight: bold;
  font-size: small;
  opacity: 0.5;
}