<form name="form-signin" class="form" method="POST">
  <div class="input-container ic1">
    <div class="input-container ic2">
      <input id="email" class="input" type="text" name="email" required="" placeholder="Email" />
      <div class="cut"></div>
      <label for="email" class="placeholder">Email</label>
    </div>
    <div class="input-container ic2">
      <input id="password" class="input" type="password" name="password" required="" placeholder="Password" />
      <div class="cut"></div>
      <label for="password" class="placeholder">Password</label>
    </div>
    <input type="submit" class="submit" name="join" name="join" alt="Join" value="Join">
    <button class='submit' type='button' onclick="toSignup()">Not register</button>

  </div>
</form>